.App-menu{
    /*height: 100%;*/
    width: 98.9vw;
    /* padding-left: 1vw; */
    background-color: #95C5B7;/*#e0bef4;/*#fca80b;/*#feaf5f;*/
    color: #001529;
}

@media only screen and (max-width: 1060px) {
    .App-menu{
        height: 140%;
    }
  }