.App-sidemenu{
    /*height: 100%;*/
    width: 98.9vw;
    padding-left: 1vw;
    background-color: #e0bef4;/*#fca80b;/*#feaf5f;*/
    color: #001529;
}

@media only screen and (max-width: 1060px) {
    .App-sidemenu{
        height: 140%;
    }
  }