.App-sidemenu{
    /*height: 100%;*/
    width: 98.9vw;
    padding-left: 1vw;
    background-color: #feaf5f;
    color: #001529;
}

@media only screen and (max-width: 1060px) {
    .App-sidemenu{
        height: 140%;
    }
  }