/* .c1{
    background-color: aquamarine;
}

.c2{
    background-color: blueviolet;
} */

.botonRegistrar{
    width: 10vw;
    margin-left: 10vw;
}

.botonCancelar{
    width: 10vw;
    margin-left: 2vw;
}

.tituloRegistrar{
    margin-left: 10vw;
}
