/* .c1{
    background-color: aquamarine;
}

.c2{
    background-color: blueviolet;
} */

.nombreArchivoSubido{
  width: 31vw; /* Ancho máximo del contenedor */
  white-space: nowrap; /* Evita que el texto se divida en varias líneas */
  overflow: hidden; /* Oculta el texto que excede el ancho máximo */
  text-overflow: ellipsis; /* Agrega puntos suspensivos para indicar que se ha truncado el texto */
  color: black;
}

.botonRegistrar {
  width: 10vw;
  margin-left: 10vw;
}

.botonCancelar {
  width: 10vw;
  margin-left: 2vw;
}


.tituloRegistrar {
  /* margin-left: 10vw; */
  font-family: 'Montserrat', sans-serif;
}



.containerForm {
  border: 2px outset #01c38e;
  border-radius: 15px;
  padding-top: 1vw;
  padding-bottom: 1vw;
  /*background-color: aquamarine;*/

}

@media only screen and (max-width: 768px) {
  .containerForm {
    border: 2px outset #01c38e;
    border-radius: 15px;
    padding-top: 1vw;
    padding-bottom: 1vw;
    padding-right: 2vw;
    padding-left: 2vw;
  }
}

@media only screen and (max-width: 361px) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 16vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}

@media only screen and (max-width: 360px) and (max-height:760px) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 5vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }

}

@media only screen and (max-width: 761px) and (max-height:361px) and (orientation:landscape) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 5vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}

/*Este 911 antes 811, pero ya en pantalla de 911px de ancho se vió que era mejor centrear botones*/
@media only screen and (min-width: 361px) and (max-width: 911px) and (orientation:portrait) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 18vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1081px) and (max-height:811px) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 24vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}

@media only screen and (min-width: 761px) and (max-width: 1081px) and (max-height:811px) {
  .botonRegistrar {
    width: 22vw;
    margin-left: 16vw;
  }

  .botonCancelar {
    width: 22vw;
    margin-left: 4vw;
  }
}

/*Este afecta a tablet landscape*/
@media only screen and (min-height: 361px) and (max-height: 600px) and (orientation:landscape) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 24vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}

@media only screen and (max-height: 361px) and (orientation:landscape) {
  .botonRegistrar {
    width: 25vw;
    margin-left: 24vw;
  }

  .botonCancelar {
    width: 25vw;
    margin-left: 4vw;
  }
}
