.App {
  text-align: center;
}

.App-container{
  width: 100%;
}

.App-header{
  color:#FFF;
  padding-left: 2%;
  padding-right: 2%;
  /*margin-left: 0px;*/
  /*background-color: #FFF;*/
}

.App-footer{
  text-align: center;
  background-color: #639B80;/*#1a0427;*/
  color: #FFF;
  position:fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-content{
  padding: 20px;
  height: 80vh;
  /*width: 85vw;*/
  margin-left: 0px;
  background-color: #f8f8f8;/*#F5F5DC;*/
}

@media only screen and (max-width: 500px) {
  .App-footer{
    text-align: center;
    background-color: #639B80;
    color: #FFF;
    position:fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0%;
    height: 40px;
  }
}

.r1{
  background-color: aqua;
}

.r2{
  background-color: #95c5b7;/*#feaf5f;*//*#001529;*/ /*orange;*/
}

.homeEnDesarrollo{
  width: 35vw;
  height: auto;
  margin-left: 30vw;
}