.App {
  text-align: center;
}

.App-container {
  width: 100%;
  /*color: #FFF;*/
}

.App-header {
  color: #FFF;
  padding-left: 2%;
  padding-right: 2%;
  /*margin-left: 0px;*/
  /*background-color: #FFF;*/
}

.App-footer {
  text-align: center;
  background-color: #132d46;
  /*#1a0427;*/
  color: #FFF;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.App-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  min-height: 82vh;
  /*width: 85vw;*/
  margin-left: 0px;
  background-color: #f3f4dc;/*#f5f2e8;
  /*ESTA LINEA PARA COLOCAR EL FONDO COMO IMAGEN*/
  /*background-image: url(../public/assets/carro.png);*/
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  /*#F5F5DC;*/
}

@media only screen and (max-width: 1500px)and (max-height: 1400px){
  .App-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    /*width: 85vw;*/
    margin-left: 0px;
    background-color: #f9f9ec;/*#f5f2e8;*/
    /*#F5F5DC;*/
  }
}

/*@media only screen and (min-height: 500px) {
  .App-content {
    padding: 20px;
    height: 100vh;
    /*width: 85vw;
    margin-left: 0px;
    background-color: #f8f8f8;
    #F5F5DC;
  }
}*/

@media only screen and (max-width: 500px) {
  .App-footer {
    text-align: center;
    background-color: #132d46;
    color: #FFF;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-top: 0%;
    height: 40px;
  }
}

.r1 {
  background-color: aqua;
}

.r2 {
  background-color: #01c38e;
  /*#feaf5f;*/
  /*#001529;*/
  /*orange;*/
}

.homeEnDesarrollo {
  width: 35vw;
  height: auto;
  margin-left: 30vw;
}

.componentsContainer {
  border: 2px outset #01c38e;
  border-radius: 15px;
  padding-top: 2vw;
  /*padding-bottom: 2vw;*/
  /**/
  padding-left: 2vw;
  padding-right: 2vw;
}

.componentsContainerDetCompraVenta {
  border: 2px outset #01c38e;
  border-radius: 15px;
  padding-top: 2vw;
  padding-bottom: 2vw;
  padding-left: 2vw;
  padding-right: 2vw;
}

.subtituloTablaDetalleCompraVenta {
  text-align: center;
}

.tituloModalRegistrarCompraVenta {
  text-align: center;
}

/*.barraBusquedaInvParaComprasVentas{
  width: 32vw;
}*/

@media only screen and (min-width: 575px) {
  .barraBusquedaInvParaComprasVentas {
    width: 94vw;
  }
}

@media only screen and (min-width: 638px) {
  .barraBusquedaInvParaComprasVentas {
    width: 650px;
  }
}

@media only screen and (min-width: 664px) {
  .barraBusquedaInvParaComprasVentas {
    width: 660px;
  }
}

/* Selectores para las tabla detalle de compras y tabla detalle de ventas */
.tablaDetalleCompraVenta th {
  background-color: #FFA500 !important;
  border: 1px solid white !important;
  color: white !important;
  font-style: normal !important;
  text-align: center !important;

}

.tablaDetalleCompraVenta tr:nth-child(even) td {
  border: 1px solid silver !important;
  text-align: center !important;
  background-color: rgb(232, 228, 228) !important;
}

.tablaDetalleCompraVenta tr:nth-child(odd) td {
  border: 1px solid lightgrey !important;
  text-align: center !important;
  background-color: white !important;
}

.tablaDetalleCompraVenta tr:hover td {
  background-color: #dff6ef !important;
}

/*TABLA*/
/*Reduciendo pantalla maximizada*/
@media only screen and (max-width: 1260px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 600px;
    max-width: 1120px;
    /*700px;*/
  }
}

@media only screen and (max-width: 800px

  /*800px*/
) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 500px;
    max-width: 800px;
    /*700px;*/
  }
}


@media only screen and (max-width: 800px

  /*800px*/
) and (max-height:400px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 150px;
    max-width: 800px;
    /*700px;*/
  }
}


/*Tablet Ipad hechado horizontal*/
@media only screen and (max-width: 1080px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 500px;
    max-width: 1000px;
    /*700px;*/
  }
}

/*Tablet Ipad vertical parado*/
@media only screen and (max-width: 811px) and (max-height:1080px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 750px;
    max-width: 800px;
    /*700px;*/
  }
}

/*Galaxy s10 parado (vertical)*/
@media only screen and (max-width: 360px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 490px;
    max-width: 800px;
    /*700px;*/
  }
}

/*Galaxy s10 hechado (horizontal)*/
@media only screen and (max-width: 761px) and (max-height:361px) {
  .tablaDetalleCompraVenta {
    /*min-width: 800px;*/
    overflow-x: auto;
    max-height: 160px;
    max-width: 800px;
    /*700px;*/
  }
}


.cardStyleInventario {
  text-align: center;
  background-color: #FFA500;
  /*#01c38e;*/
  color: #fff;
  font-weight: bold;
  /*-webkit-text-fill-color: #132d46;*/
}

.cardStyleCompra {
  text-align: center;
  background-color: #01c38e;
  /*#01c38e;*/
  color: #fff;
  font-weight: bold;
  /*-webkit-text-fill-color: #132d46;*/
}

.cardStyleVenta {
  text-align: center;
  background-color: #1677ff;
  /*#01c38e;*/
  color: #fff;
  font-weight: bold;
  /*-webkit-text-fill-color: #132d46;*/
}

.tituloHome {
  text-align: center;
}

@media only screen and (max-width: 240px) {
  .tituloHome {
    font-size: medium;
  }
}

.img {
  height: 12vw;
}

@media only screen and (max-width: 991px) {
  .img {
    height: 28vw;
  }
}

.imgHomeAdmin {
  height: 16vw;
}

@media only screen and (max-width: 991px) {
  .imgHomeAdmin {
    height: 28vw;
  }
}

.imgVendedor {
  height: 16vw;
}

@media only screen and (max-width: 991px) {
  .imgVendedor {
    height: 28vw;
  }
}

/*Todo esto era para hacer el boton de las cards responsivo comento por
si sirve adelante*/
/*
@media only screen and (max-width: 540px) {
  .botonCard{
    font-size: small;
    -webkit-text-fill-color: #02130f;
    esto estaba comentado
    //////////////////////
    color: #132d46;
    background-color: #1677ff;
    padding: 6px;
    border-radius: 5%;
    -webkit-text-fill-color: #FFF;
    //////////////////////
  }
}

@media only screen and (max-width: 492px) {
  .botonCard{
    font-size: x-small;
    -webkit-text-fill-color: #02130f;
    esto estaba comentado
    //////////////////////
    color: #132d46;
    background-color: #1677ff;
    padding: 6px;
    border-radius: 5%;
    -webkit-text-fill-color: #FFF;
    //////////////////////
  }
}

@media only screen and (max-width: 361px) {
  .botonCard{
    font-size: 2vw;
    -webkit-text-fill-color: #02130f;
    esto estaba comentado
    //////////////////////
    color: #132d46;
    background-color: #1677ff;
    padding: 6px;
    border-radius: 5%;
    -webkit-text-fill-color: #FFF;
    //////////////////////
  }
}
*/
@media only screen and (min-width: 1269px) {
  .textoCard {
    font-size: large;
  }
}

@media only screen and (min-width: 1116px) and (max-width: 1269px) {
  .textoCard {
    font-size: medium;
  }
}

@media only screen and (max-width: 319px) {
  .textoCard {
    font-size: smaller;
  }
}

@media only screen and (max-width: 258px) {
  .textoCard {
    font-size: x-small;
  }
}

@media only screen and (max-width: 230px) {
  .textoCard {
    font-size: xx-small;
  }
}

.textoEnNegritaAdvertencias {
  font-weight: bold;
}

.monto-total-venta {
  background-color: rgba(255, 255, 255, 0.33);
  /* box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.4); */
  /* backdrop-filter: blur(1px); */
  /* border: 2px dashed #01c38e; */
  border-radius: 0.5px;
  /* position: relative; */
  /* z-index: 1; */
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}

.monto-total-compra{
  background-color: rgba(255, 255, 255, 0.33);
  /* box-shadow: 7px 7px 11px rgba(0, 0, 0, 0.4); */
  /* backdrop-filter: blur(1px); */
  /* border: 2px dashed #01c38e; */
  border-radius: 0.5px;
  /* position: relative; */
  /* z-index: 1; */
  font-size: medium;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
}