.App-title-header{
    font-size: larger;
    font-weight: bolder;
    flex-grow: 1;
    text-align: center;
}

.App-container-header{
    display: flex;
}

.App-container-header Button{
    margin-top: 2vh;
    margin-left: 1vh;
}

.App-image-content{
    width: 100px;
    height: 110px;
    margin-top: 1px;
    /*background-color: black;*/
}


